<%- include("./_partials/header.ejs") %>

<%- include("./_partials/nav.ejs") %>

<div class="vk-container-geral">

  <div class="page-container">

    <div class="vk-pageheader-container">

      <h1>Painel</h1>
      <div class="boas-vindas-painel">
        <div>
          <h2>Olá, <%= actualUserLogged.name %></h2>
          <small>Cargo: <%= actualUserLogged.role === 2 ? "Admin/Dev" : actualUserLogged.role === 1 ? "Administrador" : actualUserLogged.role === 0 ? "Cliente" : "-"  %></small>
        </div>
        <div>
          <p>Boas vindas ao painel!</p>
          <small><%= new Date().toLocaleString() %></small>
        </div>
      </div>

    </div>
    
    <div class="content-container painel-infos-container">
      
      <div class="painel-infos">
        <h3>Total de<br>Jogos Cadastrados</h3>
        <p><%= infos.games.total %></p>
        <div class="painel-links">
          <a href="/vkgames/games" class="vk-btn-principal">Ver</a>
          <a href="/vkgames/games/new" class="vk-btn-secundario">Novo</a>
        </div>
      </div>
      
      <div class="painel-infos">
        <h3>Total de<br>Usuários Cadastrados</h3>
        <p><%= infos.users.total %></p>
        <div class="painel-links">
          <a href="/vkgames/users" class="vk-btn-principal">Ver</a>
          <a href="/vkgames/users/new" class="vk-btn-secundario">Novo</a>
        </div>
      </div>

    </div>
    
  </div>

</div>

<%- include("./_partials/footer.ejs") %>
