<%- include("../_partials/header.ejs") %>

<%- include("../_partials/nav.ejs") %>

<div class="vk-container-geral">

  <div class="page-container">

    <div class="vk-pageheader-container">

      <h1>Lista de Jogos</h1>
      <a href="/games/new" class="vk-btn-principal">Novo Jogo</a>

    </div>
    
    <div class="content-container">
      <div class="games-list-container">
        <% if (games.length > 0) { %>
      
          <% games.forEach(game => { %>
            <div class="game-card-container">
  
              <div class="game-card-header">
                <h2>#<%= game.id %><br><%= game.name %></h2>
              </div>
  
              <div class="game-card-body">
                <p>Preço: R$ <%= game.price %></p>
                <p>Estoque: <%= game.stock %></p>
                <p>Disponível: 
                  <% if (game.avaliable) { %>
                    <span class="disponivel">Sim</span>
                  <% } else { %>
                    <span class="indisponivel">Não</span>
                  <% } %></p>
              </div>
  
              <figure>
                <img src="/img/game_covers/<%= game.url_cover %>" alt="Cover Jogo <%= game.name %>">
              </figure>
  
              <div>
                <p>Criado em<br><%= new Date(game.createdAt).toLocaleString().replace(", ", " às ") %></p>
              </div>
  
              <div class="game-card-footer acoes">
                <a href="/games/edit/<%= game.id %>">
                  <img id="<%= game.id %>" src="/img/icons/icon_edit.png" alt="Icon edit" class="acoes-edit" data-admin="game-edit">
                </a>
  
                <form action="/games/delete" method="post" id="<%= game.id %>">
                  <input type="hidden" name="id" value="<%= game.id %>">
                  <input type="hidden" name="url_cover" value="<%= game.url_cover %>">
                  <img id="<%= game.id %>" src="/img/icons/icon_delete.png" alt="Icon delete" class="acoes-delete" data-admin="game-delete">
                </form>
              </div>
  
            </div>
          <% }); %>
      
        <% } else { %>
      
          <p>Ainda não há jogos cadastrados.</p>
      
        <% } %>
  
        <% if(vkNotification.message) { %>
          <%- include("../_partials/vknotification.ejs") %>
        <% } %>        
      </div>
      
    </div>

    
  </div>

</div>

<%- include("../_partials/footer.ejs") %>
