<%- include("../_partials/header.ejs") %>

<%- include("../_partials/nav.ejs") %>

<div class="vk-container-geral">

  <div class="page-container">
    <div class="vk-pageheader-container">
      <h1>Novo Jogo</h1>
      <small class="link-breadcrump">
        <a href="/vkgames/painel">Painel</a> > <a href="/vkgames/games">Lista de Jogo</a> > Novo Jogo
      </small>
    </div>
    
    <div class="content-container">

      <form action="/vkgames/games/new" method="post" enctype="multipart/form-data" class="vk-formulario">
        <div class="campos">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" value="<%= newGameValue.name %>">
        </div>
        <div class="campos">
          <label for="price">Preço</label>
          <input type="text" name="price" id="price" value="<%= newGameValue.price %>">
        </div>
        <div class="campos">
          <label for="stock">Estoque</label>
          <input type="text" name="stock" id="stock" value="<%= newGameValue.stock %>">
        </div>
        <div class="campos campo-disponivel">
          <label for="avaliable">Disponível</label>
          <% if (newGameValue.avaliable) { %>
            <input type="checkbox" name="avaliable" id="avaliable" checked>
          <% } else { %>
            <input type="checkbox" name="avaliable" id="avaliable">
          <% } %>
        </div>
        <div class="campos">
          <label for="url_cover">Capa</label>
          <input type="file" accept="image/jpeg, image/png, image/gif, image/webp" name="url_cover" id="url_cover">
        </div>
        <button type="submit" class="vk-btn-principal">Cadastrar</button>
      </form>
    
      <% if(vkNotification.message) { %>
        <%- include("../_partials/vknotification.ejs") %>
      <% } %>
      
    </div>
  </div>

</div>

<%- include("../_partials/footer.ejs") %>
